:root{
    --primary-color:#6A0DAD;
    --primary-color-light:#9D00FF;
    --primary-color-dark1:#8A2BE2;
    --primary-color-dark2:#4B0082;
    --secondary-color:#FFD700;
    --secondary-color-dark1:#D4AF37;
    --background-color:#0D0D21;
    --background-color-light:#16163A;
    --text-color:#E0E0E0;
    --text-color-dark1:#A0A0C0;
    --border-color:#5E17EB;
    --decoration-color:#FF4500;
}

::selection{
    background-color:var(--primary-color);
    color:var(--secondary-color);
    border-radius:5px;
}

*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


html{
    height:100%;
}

body{
    height:100vh;
    width:100%;
    padding:10px 10px 0px 10px;
    background-color:var(--background-color);
}

body::-webkit-scrollbar{
    display:none;
}

#root{
    font-family:Arial, sans-serif;
}

button{
    cursor:pointer;
    border:none;
    outline:none;
    background-color:var(--primary-color);
    border-radius:5px;
    transition:transform 0.2s;
}

button:hover {
    background-color: var(--primary-color-light);
}

li{
    cursor:pointer;
}

i{
    color:var(--secondary-color);
}

.section{
    background: #17172bb3;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(94, 23, 235, 0.3);
}

/*HEADER*/
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:50px;
    padding:10px;
    margin-bottom:10px;
    border: 2px solid var(--border-color);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);
    border-radius:50%;
    height:35px;
    width:35px;
    font-size:1.1rem;
    box-shadow: 0 0 10px var(--primary-color-dark1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.login:hover{
    box-shadow: 0 0 20px var(--primary-color-dark1), 0 0 40px var(--primary-color-dark2);
    transform: scale(1.01);
}

.bg-menu{
    font-size:1.5rem;
    color:var(--secondary-color);
    cursor:pointer;
    transition:color 200ms;
}

#burger-menu{
    display:none;
}

#burger-menu:checked ~ .sidebar{
    top:60px;
    opacity:1;
}

.bg-menu:hover{
    color:var(--decoration-color);
}

.search-bar{
    position:relative;
}

.search-menu{
    width:100%;
    height:300px;
    display:block;
    position:absolute;
    top:45px;
    z-index:9999;
    overflow-y:scroll;
    animation:sectionFade ease-out 0.3s forwards;
    background-color: var(--primary-color);
    color:var(--text-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.search-menu::-webkit-scrollbar{
    width: 8px;
}

.search-menu::-webkit-scrollbar-track{
    background: var(--background-color-light);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.search-menu::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px;
}

.search-menu::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-light);
}

.search-menu ul li{
    display:flex;
    padding:10px;
    text-align:left;
    min-width:100px;
    border-bottom:1px solid var(--secondary-color-dark1);
    width:97%;
}

.search-bar input{
    height:40px;
    padding:10px 5px;
    border-radius:50px;
    border:2px solid transparent;
    outline:none;
    width:100%;
    transition:border 200ms, background-color 200ms, color 200ms;
    font-size:clamp(0.8rem, 1vw, 1rem);
}

.search-bar input:focus-within{
    border:2px solid var(--border-color);
    background-color:var(--background-color);
    color:var(--secondary-color-dark1);
    box-shadow:0 0 5px var(--primary-color-dark1);
}

.header-inputs{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.header-funcs{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.user-profile{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    gap:10px;
    height:40px;
    border-radius:50px;
    background-color: var(--primary-color);
}

.user-profile-pic{
    display:flex;
    text-align:center;
    border-radius:50px;
    padding:2px;
    border:2px solid var(--secondary-color-dark1);
    cursor:pointer;
}

.user-profile-pic h1{
    height:25px;
    width:25px;
    font-size:1.5rem;
    color:var(--text-color);
    transition:color 200ms, transform 200ms;
}

.user-profile-pic h1:hover{
    transform:scale(0.9);
    color:var(--text-color-dark1);
}

.user-profile-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:3px;
    padding-right:10px;
    animation:sectionFadeIn1 ease-out 0.3s forwards;
}

.user-profile-info h5{
    color:var(--secondary-color);
}

.user-profile-info p{
    color:var(--text-color);
    font-size:clamp(0.7rem, 1vw, 0.9rem);
}

.user-funcs{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:40px;
    width:40px;
    padding: 3px;
    border-radius:50%;
    background-color: var(--primary-color);
    cursor:pointer;
}

.user-funcs:hover .user-funcs-dropdown{
    display:block;
    animation:sectionFade ease-out 0.3s forwards;
    z-index:9999;

}

.user-funcs:hover{
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.user-funcs i{
    font-size:1.5rem;
    color:var(--secondary-color-dark1);
    transition:transform 200ms, color 200ms;
}

.user-funcs i:hover{
    transform: scale(1.1);
    color:var(--secondary-color);
}

.user-funcs-dropdown{
    position:absolute;
    top:40px;
    right:0;
    display:none;
}

.user-funcs-dropdown ul{
    background-color: var(--primary-color);
    color:var(--text-color);
    list-style:none;
}

.user-funcs-dropdown ul li{
    text-align:right;
    padding:10px;
    min-width:100px;
}

.user-funcs-dropdown ul:nth-child(1){
    border-top-left-radius:30px;
}

.user-funcs-dropdown ul li:nth-child(1){
    border-top-left-radius:30px;
}

.user-funcs-dropdown ul li:hover{
    background-color:var(--primary-color-light);
    color:var(--secondary-color-dark1);
}

/*SIDEBAR*/
.sidebar{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:200px 10px;
    position:absolute;
    height:calc(100vh - 80px);
    width:100%;
    top:-150vh;
    text-align:center;
    row-gap:30px;
    opacity:0;
    transition:top 300ms, opacity 300ms;
    z-index:1;
    border: 2px solid var(--border-color);
    backdrop-filter:blur(10px);
}

.sidebar h3{
    font-size:1.75rem;
    color:var(--secondary-color-dark1);
}

.sidebar > h3 i{
    font-size:2rem;
}

.sidebar li{
    list-style-type:none;
    padding:15px 0;
    color:var(--text-color);
}

.sidebar li i{
    font-size:1.25rem;
    padding-right:10px;
    width:25px;
}

.sidebar > p{
    color:var(--text-color);
}

.sidebar-friends{
    display:flex;
    width:100%;
    justify-content:center;
    align-items: center;
    column-gap:25px;
    position:relative;
}

.sidebar-friends i{
    transition:color 200ms;
}

.sidebar-friends button{
    position:absolute;
    right:20px;
    font-size:1.75rem;
}

.sidebar-friends button{
    background-color:transparent;
}

.sidebar-login{
    background-color:var(--primary-color);
    color:#fff;
    width:60%;
    height:30px;
    box-shadow: 0 0 10px var(--primary-color-dark1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.sidebar-login:hover{
    box-shadow: 0 0 20px var(--primary-color-dark1), 0 0 40px var(--primary-color-dark2);
    transform: scale(1.01);
}


.sidebar-friends .fa-plus:hover{
    color:var(--decoration-color);
}

/*MEDIA QUERIES*/
@media (hover: none) {
    button:hover {
      transform: none;
      box-shadow: none;
    }

    button:active {
        transform: scale(0.95);
    }

    i:hover{
        transform: none;
        box-shadow: none;
    }
}

@media only screen and (max-width:400px){
    .header-inputs{
        gap:5px;
    }

    .header-funcs{
        gap:5px;
    }

    .search-bar input{
        width:80%;
    }
}

@media only screen and (max-width:600px){
    .user-profile-info{
        display:none;
    }
}

@media only screen and (min-width:600px){
    .sidebar{
        width:40%;
        opacity:1;
        position:relative;
        top:unset;
        text-align: unset;
        align-items: unset;
        padding:10px;
        height:calc(100vh - 20px);
    }

    .sidebar > button{
        align-self:center;
        position:absolute;
        bottom:20px;
        width:90%;
    }

    .sidebar h3{
        font-size:1.5rem;
    }

    .sidebar-friends button{
        right:0px;
    }

    .header label{
        display:none;
    }
}

@media only screen and (min-width:768px){
    .sidebar{
        width:30%;
    }

    .sidebar li i{
        font-size:1.5rem;
        padding-right:10px;
        width:35px;
    }
    
    .search-bar input{
        padding:10px 20px;
    }
}

@media only screen and (min-width:1024px){
    .header{
        height:60px;
    }

    .sidebar{
        width:25%;
        padding:20px;
    }

    .login{
        height:45px;
        width:45px;
        font-size:1.25rem;
    }

    .search-bar input{
        height:50px;
    }

    .user-profile{
        height:50px;
    }

    .user-profile-pic h1{
        height:35px;
        width:35px;
        font-size:2rem;
    }

    .user-funcs{
        height:50px;
        width:50px;
    }

    .user-funcs i{
        font-size:1.75rem;
    }

    .user-funcs-dropdown{
        top:50px;
    }

    .search-menu{
        top:55px;
    }
}

@media only screen and (min-width:1280px){
    .sidebar{
        width:20%;
    }
}

@media only screen and (min-width:1440px){
    .sidebar > h3{
        font-size:2rem;
    }

    .sidebar li i{
        font-size:1.5rem;
    }
}

/*ANIMATIONS*/

@keyframes sectionFadeIn1 {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sectionFade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}