*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

::selection{
    background-color:#6A0DAD;
    color:#FFD700;
    border-radius:5px;
}

html{
    height:100%;
}

body{
    height:100vh;
    width:100%;
    padding:10px 10px 0px 10px;
    background-color:#0D0D21;
}

body::-webkit-scrollbar{
    display:none;
}

#root{
    font-family:Arial, sans-serif;
}

button{
    cursor:pointer;
    border:none;
    outline:none;
    background-color:#6A0DAD;
    border-radius:5px;
    transition:transform 0.2s;
}

button:hover {
    background-color: #9D00FF;
}

li{
    cursor:pointer;
}

i{
    color:#FFD700;
}

.section{
    background: rgba(23, 23, 43, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(94, 23, 235, 0.3);
}

@keyframes sectionFadeIn1 {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sectionFade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}